@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: 'Bebas Neue', cursive;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 12px;
}

/* popup */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.close-btn {
  cursor: pointer;
  float: right;
  align-self: end;
  position: relative;
  font-size: 200%;
}

.popup-content {
  background-color: #fff;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.popup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.popup-image {
  height: 35%;
  width: auto;
}

.popup-image img {
  height: 100%;
  width: 100%;
}

.popup-header h5 {
  text-align: center;
  margin: 10% 0%;
  border: 1px solid green;
}

.popup-info {
  width: 70%;
  padding: 0%;
  border: 1px solid rgb(212, 212, 212);
  margin: 5% 0% 2% 0%;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0%;
  padding: 1%;
}

.feature-item {
  width: 50%;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}

.comments {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  width: 90%;
  height: 45% !important;
  gap: 10px;
}

.comments ul {
  overflow-y: scroll;
  list-style: none;
}

.comments h6 {
  margin: 0%;
  text-align: center;
  box-sizing: border-box;
}

.add-comment form {
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 2px 2px 8px 0#000;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 0%;
  height: 100% !important;
}

form input {
  padding: 3%;
  margin: 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type='text'] {
  margin-top: 5%;
  padding: 5%;
}

input[type='submit'] {
  margin-top: 20%;
}

.all-comments {
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 2px 2px 8px 0 #000;
  width: 60%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.all-comments p {
  margin: 0%;
  padding: 2%;
}

/* movies section */
.shows {
  width: 70%;
  min-height: 100%;
  margin: 1rem auto 3rem auto;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.show-card {
  border: 1px solid #000;
  color: #000;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.show-img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.title-likebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-count {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 700;
}

.comment-btn {
  background-color: #fff;
  padding: 6px;
  width: 90%;
  margin: 0 5% 0 5%;
  box-shadow: 3px 3px #000;
  border: 1px solid #000;
}

.likebtn {
  width: 20px;
  height: 20px;
}

.title-likeBtn {
  display: flex;
  justify-content: space-between;
}

/* footer */
footer {
  margin-top: 1rem;
  height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

footer a {
  color: rgb(94, 11, 27);
}

a:nth-child(1) {
  text-decoration: underline;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 32px;
}

.logo {
  content: url('./images/logo.png');
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
